body{
  font-family: 'Times New Roman', Times, serif;
  max-width: 50em;
  margin: auto;
  color: rgb(71, 53, 12); 
  text-align: center;
  padding: 16px;
  
}
h1{
  font-family: cursive;
}
h2{
  font-family: cursive;
}
img{
  height: 200px; 
  border-radius: 10%;
}
table, th, td{
  border: 1px solid  rgb(71, 53, 12);
}
th, td{
  padding: 15px;
}
table{
  border-spacing: 8px;
}

html{
  background-color: rgba(255, 251, 0, 0.301);
}